.body{
    padding: 5% 5%;
    background-color: #AAAAAA;
}

.navbar{
  margin-bottom: 0px;

}

.stroked{
  text-shadow:
    -1px -1px 0 #212121,
    1px -1px 0 #212121,
    -1px 1px 0 #212121,
    1px 1px 0 #212121;  
}

.wrapper, #productNav {
    text-align: center;
}

.productContainer{
    background-color: white;
    padding: 5%;
    overflow:hidden;
}

.item{
    border: 1px #cccccc solid;
    padding: 10px 0;
    margin: 20px 0;

}

.productImg{
    padding-top: 8px;
    padding-bottom: 30px;
}

.radio-rate {
  margin: 0 25px 0 25px;
}