body{
  background-color: #AAAAAA;
}

.body{
    padding: 5% 5%;
}

.navbar{
  margin-bottom: 0px;

}

.stroked{
  text-shadow:
    -1px -1px 0 #212121,
    1px -1px 0 #212121,
    -1px 1px 0 #212121,
    1px 1px 0 #212121;  
}

.wrapper, #productNav {
    text-align: center;
}

.productContainer{
    background-color: white;
    padding: 5%;
    overflow:hidden;
}

.item{
    border: 1px #cccccc solid;
    padding: 10px 0;
    margin: 20px 0;

}

.productImg{
    padding-top: 8px;
    padding-bottom: 30px;
}

.left{
  float: left;
}

.right{
  float: right;
}

#famSlider{
  margin-bottom: 10px;
  clear: both;
}

.ui-slider-handle:hover,
.ui-slider-handle:focus{
  outline: none;
  text-decoration: none;
}

.ui-slider-handle.ui-state-default.ui-corner-all{
  background: #e5e5e5;
  font-size: 1.1em;
  text-align: center;
  height: 1.5em;
  width: 2em;
  top: -0.4em;
}

.radio-rate {
  margin: 0 25px 0 25px;
}

#next{ 
  margin: 40px 5px 10px;
  font-size: 20px;
}

.questionLead{
  font-size: 30px;
}

.enableHide{
  opacity: 0.4;
}

/* Temp implementation */
.enableDel{
  border-radius: 4px;
  opacity: 0.2;
  box-shadow: 0 0 30px red;
}

@media( max-width: 990px ){
  #surveyWrap #questionCtrl{
    margin-right: 15px;
    float: right;
  }
}