.body{
    padding: 5% 5%;
    background-color: #AAAAAA;
}

.navbar{
  margin-bottom: 0px;

}

.stroked{
  text-shadow:
    -1px -1px 0 #212121,
    1px -1px 0 #212121,
    -1px 1px 0 #212121,
    1px 1px 0 #212121;  
}

.wrapper, #productNav {
    text-align: center;
}

.productContainer{
    background-color: white;
    padding: 5%;
    overflow:hidden;
}

.item{
    border: 1px #cccccc solid;
    padding: 10px 0;
    margin: 20px 0;

}

.productImg{
    padding-top: 8px;
    padding-bottom: 30px;
}

#famSlider{
  margin-bottom: 10px;
}

.ui-slider-handle:hover,
.ui-slider-handle:focus{
  outline: none;
  text-decoration: none;
}

.ui-slider-handle.ui-state-default.ui-corner-all{
  background: #e5e5e5;
  font-size: 1.1em;
  text-align: center;
  height: 1.5em;
  width: 2em;
  top: -0.4em;
}


/*.like-rate > input[type=radio]{
  display:none;
}
input[type=radio] + img{
  cursor:pointer;
  border:2px solid transparent;
}
input[type=radio]:checked + img{
  border:2px solid #f00;
}*/